<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container-fluid">
    <h1 style="padding:0; margin:0em; display:inline; background: none; border: none;">
    <a class="navbar-brand" href="{{ "/" | relative_url }}">
      <img src="/assets/img/mobile_notary_logo.png" alt="A #1 Document Services">
    </a></h1>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#law-firm-navbar" aria-controls="law-firm-navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="law-firm-navbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link {% if page.page_name == 'home' %} active{% endif %}" href="{{ "/" | relative_url }}">Home {% if page.page_name == 'home' %}<span class="sr-only">(current)</span>{% endif %}</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle
            {% if page.page_name == 'notary' or
                  page.page_name == 'taxes' or
                  page.page_name == 'bookkeeping' or
                  page.page_name == 'payroll' or
                  page.page_name == 'mail' or
                  page.page_name == 'fingerprinting'
            %} active{% endif %}" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Services
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ '/mobile-notary-public-las-vegas.html' | relative_url }}">Notary Public
              {% if page.page_name == 'notary' %}<span class="sr-only">(current)</span>{% endif %}</a>
            <a class="dropdown-item" href="{{ '/income-tax-services.html' | relative_url }}">Income Tax Services
              {% if page.page_name == 'taxes' %}<span class="sr-only">(current)</span>{% endif %}</a>
            <a class="dropdown-item" href="{{ '/bookkeeping.html' | relative_url }}">Bookkeeping
              {% if page.page_name == 'bookkeeping' %}<span class="sr-only">(current)</span>{% endif %}</a>
            <a class="dropdown-item" href="{{ '/payroll.html' | relative_url }}">Payroll
              {% if page.page_name == 'payroll' %}<span class="sr-only">(current)</span>{% endif %}</a>
            <a class="dropdown-item" href="{{ '/virtual-mailbox.html' | relative_url }}">Virtual Mailbox
              {% if page.page_name == 'mail' %}<span class="sr-only">(current)</span>{% endif %}</a>
            <a class="dropdown-item" href="{{ '/fingerprinting.html' | relative_url }}">Fingerprinting
              {% if page.page_name == 'fingerprinting' %}<span class="sr-only">(current)</span>{% endif %}</a>
          </div>
        </li>
        {%- comment -%} <li class="nav-item">
            <a class="nav-link {% if page.page_name == 'about' %} active{% endif %}" href="/about.html">About Us</a>
        </li> {%- endcomment -%}
        {%- comment -%} <li class="nav-item">
            <a class="nav-link {% if page.page_name == 'contact' %} active{% endif %}" href="/contact.html">Contact Us</a>
        </li> {%- endcomment -%}
      </ul>
      <ul class="navbar-nav ml-auto navbar-right">
        <li class="nav-item">
          <a class="nav-link" href="tel:{{ site.phone_link }}">A #1 Document Services<br/>
          <i class="icon-phone-outgoing"></i>
           {{ site.phone_disp }}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>