<div class="sidebar-nav">
  <a class="sidenav-item {% if page.page_name == 'notary' %} active{% endif %}" href="{{ "/mobile-notary-public-las-vegas.html" | relative_url }}">Notary Public</a>
  <a class="sidenav-item {% if page.page_name == 'taxes' %} active{% endif %}" href="{{ "/income-tax-services.html" | relative_url }}">Income Tax Services</a>
  <a class="sidenav-item {% if page.page_name == 'bookkeeping' %} active{% endif %}" href="{{ "/bookkeeping.html" | relative_url }}">Bookkeeping Service</a>
  <a class="sidenav-item {% if page.page_name == 'payroll' %} active{% endif %}" href="{{ "/payroll.html" | relative_url }}">Payroll Service</a>
  <a class="sidenav-item {% if page.page_name == 'mail' %} active{% endif %}" href="{{ "/virtual-mailbox.html" | relative_url }}">Mail Service</a>
  <a class="sidenav-item {% if page.page_name == 'fingerprinting' %} active{% endif %}" href="{{ "/fingerprinting.html" | relative_url }}">Fingerprinting Service</a>
</div>